.icons svg {
  cursor: pointer;
}
.head {
  padding: 30px 0 70px 0;
  color: var(--color);
  position: relative;
}

.months {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
}

.month {
  text-align: center;
  user-select: none;
  font-size: 1rem;
  transition: 1s ease-in-out;
}

.notActive {
  font-size: 1rem;
  text-align: center;
  user-select: none;
  opacity: 0.5;
  transition: 0.5s ease-out;
}

@keyframes month {
  from {
  }
  to {
  }
}
