.calendar {
  position: relative;
}
.calendar ul {
  display: flex;
  margin: auto;
  list-style: none;
  flex-wrap: wrap;
}

.calendar .weeks {
  font-size: 1rem;
  font-weight: 900;
}

.calendar ul.weeks li {
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  color: var(--color);
}

.calendar .days div {
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.calendar .days div a {
  color: var(--color);
  text-decoration: none;
}

.calendar .days {
  border-radius: 20px;
  margin-top: 20px;
}
