.form {
  background-color: #ffffff3a;
  width: 90%;
  height: 95%;
  border-radius: 20px;
  overflow: hidden;
  overflow: auto;
}
.form-header {
  text-align: center;
  padding-top: 20px;
}

.form-header h4 {
  font-size: 2rem;
}

.form-header p {
  font-size: 1.5rem;
}
.main-form {
  padding: 40px;
}
/* time */
.time {
  display: flex;
  padding: 0 20px;
}

.time .form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  position: relative;
}

/* Text */
.text {
  margin-top: 30px;
}
.text .form-container {
  position: relative;
  margin-bottom: 40px;
  padding: 0 30px;
}

.text .form-container label {
  position: absolute;
  right: 0;
  color: #ffffffc9;
  transition: 0.5s;
  font-size: 1.5rem;
}

.text .form-container input {
  width: 100%;
  position: relative;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  z-index: 1;
  padding: 20px 10px 10px;
  border: 1px solid #fff;
  border-right: 1px solid #ffffff00;
  border-radius: 30px;
}
.text .form-container textarea {
  width: 100%;
  height: 50px;
  position: relative;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
  z-index: 1;
  padding: 20px 10px 10px;
  resize: none;
  border: 1px solid #fff;
  border-right: 1px solid #ffffff00;
  border-radius: 30px;
}

.text .form-container input:valid ~ label,
.text .form-container input:focus ~ label {
  color: #fff;
  font-size: 1.3rem;
  transform: translateY(-40px);
}
.text .form-container textarea:valid ~ label,
.text .form-container textarea:focus ~ label {
  color: #fff;
  font-size: 1.3rem;
  transform: translateY(-40px);
}

.text .form-container textarea:valid {
  animation: hieght2 1s ease alternate forwards;
  overflow: hidden;
}
.text .form-container textarea:focus {
  animation: hieght 1s ease alternate forwards;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 30px;
}

@keyframes hieght {
  from {
    height: 50px;
  }
  to {
    height: 200px;
  }
}
@keyframes hieght2 {
  from {
    height: 200px;
  }
  to {
    height: 50px;
  }
}

.main-form button {
  border: 1px solid #ffffff72;
  outline: none;
  font-size: 1.3rem;
  padding: 15px 25px;
  border-radius: 10px;
  color: #fff;
  margin: auto;
  display: block;
  cursor: pointer;
  position: relative;
  width: 90%;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.main-form button span {
  z-index: 1;
}

.main-form button:hover {
  border: 1px solid #0089a14d;
}
.main-form button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: circle(0 at 0 0);
  background: linear-gradient(45deg, #ffffff00, #0089a14d);
  transition: 1s ease;
  backdrop-filter: blur(3px);
  z-index: -1;
}
.main-form button:hover::after {
  clip-path: circle(145% at 0 0);
}

@keyframes ani {
  0% {
    clip-path: circle(0 at 0 0);
  }
  10% {
    clip-path: circle(0 at 0 0);
  }
  50% {
    clip-path: circle(141.2% at 0 0);
  }
  60% {
    clip-path: circle(141.9% at 100% 100%);
  }
  100% {
    clip-path: circle(0.1% at 100% 69%);
  }
}
