.calendar-tasks-mention {
  width: 45%;
  height: 500px;
  font-family: var(--font-khodkar);
}

.calendar-tasks-mention h1 {
  color: var(--color);
  font-size: 3rem;
  padding: 3px 0;
  padding-right: 30px;
}

.calendar-mention {
  width: 100%;
  margin: 0 auto 30px auto;
  position: relative;
  background: #ffffff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: var(--font-text);
  padding: 10px 30px;
}

.calendar-mention h4 {
  font-size: 2rem;
  text-align: center;
}

.calendar-mention p {
  font-size: 3rem;
}
/* Add Task  */
.show-tasks {
  position: relative;
  margin: auto;
  padding: 0 20px 0 80px;
  padding-bottom: 140px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow: scroll;
  height: 700px;
  backdrop-filter: blur(5px);
}

.line::after {
  content: "";
  width: 2px;
  height: 100%;
  right: 13px;
  border-radius: 30px;
  /* background: linear-gradient(45deg, #a600ff, #5e0080); */
  background-size: 200% 200%;
  position: absolute;
  animation: bg 10s ease infinite;
}

.empty {
  height: 80vh;
  display: grid;
  place-content: center;
}

.empty p {
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-main-bold);
  color: #aeaeae;
}

@media screen and (max-width: 2560px) {
  .show-tasks {
    height: 1200px;
  }
}
@media screen and (max-width: 1536px) {
  .show-tasks {
    height: 710px;
  }
}

@keyframes bg {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 0 100%;
  }
}
