.calendar-day-task {
  width: 45%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  /* height: 100%; */
  padding-inline: 100px;
}

.date {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.year {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Inside H1 */
.year .box {
  width: 315px;
  height: 200px;
  overflow: hidden;
  position: relative;
  transform: rotate(-45deg);
  text-align: center;
  font-family: var(--font-num3) !important;
  margin-right: 10px;
}
.box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -58%) rotate(45deg);
  background: linear-gradient(45deg, #0014ff, #ff2cdf);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: gradient 5s linear infinite;
}
.firstLetter {
  font-size: 15rem;
}
.box::after {
  content: "";
  position: absolute;
  width: 49%;
  height: 1px;
  background-color: #ffffff;
  top: -1px;
  border-radius: 10px;
  left: 0%;
  transform: translateX(24%);
  box-shadow: 3px 0px 20px 5px rgb(0 0 0);
}
.box::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #ffffff;
  bottom: -1px;
  left: 0%;
  transform: translateX(59%);
  z-index: 1;
  box-shadow: -9px -1px 15px 8px rgb(0 0 0 / 77%);
}

.date .month-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: -50px;
  padding-top: 157px;
}

.container .date .month {
  font-size: 3rem;
  font-family: var(--font-main-bold);
  z-index: 999;
}
.container .date .day {
  font-size: 1.3rem;
  font-family: var(--font-num3);
}

.shape:hover {
  border-radius: 70% 30% 34% 66% / 64% 25% 75% 36%;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
