.show-task-item {
  margin-top: 60px;
  font-family: var(--font-main);
  position: relative;
}

.show-task-item:first-child {
  margin-top: 30px;
}

.show-task-date {
  display: flex;
  align-items: center;
}
.show-task-date h3 {
  width: 5%;
  font-size: 2rem;
  color: var(--color);
  position: relative;
  padding-right: 10px;
}

.show-task-date h3::after {
  content: "\2688";
  font-size: 0.8rem;
  width: 10px;
  height: 10px;
  position: absolute;
  color: var(--color);
  right: -11px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.task-task-date_day {
  width: 100%;
  margin-right: 30px;
  padding-bottom: 30px;
  color: var(--color);
  position: relative;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  border-radius: 10%;
}
.show-task-date h4 {
  font-size: 2rem;
  font-family: var(--font-main-bold);
}

.task-list-item {
  width: 90%;
  /* background-color: rgba(95, 158, 160, 0.553); */
  backdrop-filter: blur(20px);
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  padding: 15px 30px;
  color: #000;
  border-radius: 10px;
  margin-top: 30px;
  /* box-shadow: inset 0px 0px 58px -4px rgba(255, 255, 255, 1); */
  background-size: 200% 200%;
  animation: bg 5s ease infinite;
}
.task-info span {
  color: #fff;
  font-size: small;
}
.task-list-item .task-info h4 {
  font-size: 1.5rem;
  color: #fff;
}
.task-list-item .task-info p {
  font-size: 1rem;
  color: #fff;
}
.task-list-item .task-actions {
  font-size: 1.5rem;
  display: grid;
  place-content: center;
}

.show-task-item .task-dot {
  position: absolute;
  width: 2px;
  height: calc(100% + 60px);
  top: 0;
  right: -7px;
  /* background-color: red; */
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0),
    #a600ff,
    rgba(255, 0, 0, 0)
  );
  background-size: 200% 200%;
  animation: bg 5s ease-in infinite;
}

@keyframes bg {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 0% 100%;
  }
}

@keyframes bsg {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 0 100%;
  }
}
