.show-task-item {
  margin-top: 60px;
  font-family: var(--font-main);
  position: relative;
}

.show-task-item:first-child {
  margin-top: 30px;
}

.show-task-date {
  display: flex;
  align-items: center;
}
.show-task-date h3 {
  width: 5%;
  font-size: 2rem;
  color: var(--color);
  position: relative;
  padding-right: 10px;
}

.show-task-date h3::after {
  content: "\2688";
  font-size: 0.8rem;
  width: 10px;
  height: 10px;
  position: absolute;
  color: var(--color);
  right: -11px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.task-task-date_day {
  width: 100%;
  margin-right: 30px;
  padding-bottom: 30px;
  color: var(--color);
  position: relative;
}

.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  border-radius: 10%;
}
.show-task-date h4 {
  font-size: 2rem;
  font-family: var(--font-main-bold);
}

.task-list-item-container {
  position: relative;
}
.task-list-item {
  width: 90%;
  backdrop-filter: blur(20px);
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  padding: 15px 30px;
  color: #000;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  background-size: 200% 200%;
}
.task-info span {
  color: #fff;
  font-size: small;
}
.task-list-item .task-info h4 {
  font-size: 1.5rem;
  color: #fff;
}
.task-list-item .task-info p {
  font-size: 1rem;
  color: #fff;
}
.task-list-item:hover ~ .task-actions {
  z-index: 999;
}
.task-actions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 0;
  opacity: 1;
  padding-right: 2px;
  padding-left: 20px;
  padding-block: 18px;
  transform: translateX(0%);
  animation: clearItem 0.4s 0.7s ease-out forwards;
  z-index: 2;
}
.task-actions:hover {
  animation: showItem 0.4s ease forwards;
  opacity: 1;
  z-index: 999;
}

.task-actions-link svg {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  margin: 12px;
}

.task-actions-link svg:hover {
  animation: bump 0.2s linear forwards;
  color: aqua;
}

.show-task-item .task-dot {
  position: absolute;
  width: 2px;
  height: calc(100% + 60px);
  top: 0;
  right: -7px;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0),
    #a600ff,
    rgba(255, 0, 0, 0)
  );
  background-size: 200% 200%;
  animation: bg 5s ease-in infinite;
}

/* Check Task is Done or is not Done */
.isDone {
  animation: Done 1s ease forwards;
}
.isNotDone {
  animation: bg 5s ease infinite, NotDone 0.4s ease forwards;
}
.isHoverDone {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}
@keyframes bg {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 0% 100%;
  }
}

@keyframes showItem {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes clearItem {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

@keyframes bump {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes Done {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
    transform: scale(0.98);
  }
}
@keyframes NotDone {
  0% {
    opacity: 0.3;
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .task-list-item .task-info h4 {
    font-size: 1rem;
  }
  .task-list-item .task-info p {
    font-size: 0.8rem;
    margin-top: 7px;
  }
}

@media (max-width: 435px) {
  .task-actions {
    padding: 0;
    margin-left: 12px;
  }
}
