.calendar-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background: url(../../assets/Image/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  height: 100%;
}

.wrapper {
  width: 35%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 67px 0 0 0;
}

/* Calender Image  */
.calendar-image {
  flex: 1;
  display: flex;
}
