.calendar-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  /* background: url(../../assets/Image/3.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  height: 100%;
}

.wrapper {
  width: 35%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(#9101ff, #6854f3, #79b9e3); */
  background-color: #ffffff5d;
  backdrop-filter: blur(5px);

  /* background: url(../../assets/Image/plant.jpg); */
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  box-shadow: -9px 0px 95px -34px rgba(0, 0, 0, 0.75);
}

.wrapper > div {
  background-position: center;
  margin: 0 20px;
  /* background-color: rgba(255, 255, 255, 0.712); */
  border-radius: 30px;
  padding: 40px 30px;
  z-index: 1;
  backdrop-filter: blur(2px);
  /* background: linear-gradient(130deg, #2e365d6f 30%, #435ca262, #5c7ecf5e); */
  background-color: #0000008f;
}

/* Calender Image  */
.calendar-image {
  flex: 1;
  background: url(../../assets/Image/4.jpg);

  background-size: cover;
}
